    <div class="wrapper">
      <h1>Template-driven forms</h1>
      <form>
        <div class="form-item">
          <label for="login">Login</label>
           <input placeholder="Your Login..." name="login" ngModel #login="ngModel" required pattern="^[a-zA-Z0-9]+$">
          <p *ngIf="login.invalid && login.touched && login.errors?.['required']">The field must not be empty</p>
          <p *ngIf="login.invalid && login.touched && login.errors?.['pattern']">Only latin letters and numbers are
            allowed</p>
        </div>
        <div class="form-item">
          <label for="email">Email</label>
          <input id="email" placeholder="Your email..." name="email" ngModel #email="ngModel" required email>
          <p *ngIf="email.invalid && email.touched">Enter correct email</p>
        </div>
        <div class="form-item">
          <label for="password">Password</label>
          <input id="password" placeholder="Your password..." name="password" ngModel #password="ngModel" minlength="7"
            required>
          <p *ngIf="password.invalid && password.touched && password.errors?.['required']">The field must not be empty
          </p>
          <p *ngIf="password.invalid && password.touched && password.errors?.['minlength']">
            The password must contain more than {{password.errors?.['minlength']['actualLength']}} characters.
          </p>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>

    <div class="wrapper">
      <h1>Reactive forms </h1>
      <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="form-item">
          <label for="login">Login</label>
          <input autocomplete="none" placeholder="Your Login..." formControlName="login">
          <p
            *ngIf="form.get('login')?.['invalid'] && form.get('login')?.['touched'] && form.get('login')?.['errors']?.['required']">
            The field must not be empty
          </p>
          <p
            *ngIf="form.get('login')?.['invalid'] && form.get('login')?.['touched'] && form.get('login')?.['errors']?.['pattern']">
            Only latin letters and numbers are allowed
          </p>
        </div>
        <div class="form-item">
          <label for="email">Email</label>
          <input id="email" placeholder="Your email..." formControlName="email">
          <p *ngIf="form.get('email')?.['pending']">Cheking email...</p>
          <p *ngIf="form.get('email')?.['errors']?.['uniqEmail']">This email address already exists</p>
          <p
            *ngIf="form.get('email')?.['invalid'] && form.get('email')?.['touched'] && form.get('email')?.['errors']?.['email']">
            Enter correct email</p>
          <p
            *ngIf="form.get('email')?.['invalid'] && form.get('email')?.['touched'] && form.get('email')?.['errors']?.['required']">
            The field must not be empty</p>
        </div>
        <div class="form-item">
          <label for="password">Password</label>
          <input id="password" placeholder="Your password..." formControlName="password">
          <p
            *ngIf="form.get('password')?.['invalid'] && form.get('password')?.['touched'] && form.get('password')?.['errors']?.['required']">
            The field must not be empty
          </p>
          <p
            *ngIf="form.get('password')?.['invalid'] && form.get('password')?.['touched'] && form.get('password')?.['errors']?.['minlength']">
            The password must contain more than {{form.get('password')?.['errors']?.['minlength']?.['actualLength']}}
            characters.
          </p>
        </div>
        <button type="submit">Submit</button>
      </form>
    </div>
